:root{
	--main: #7b4ee4 ;
	--darkblue: #362078;
	--black: #060606;
	--white: #e7dff4;
}
*{
	margin: 0px;
	padding: 0px;
	font-family: system-ui;
}
.clearfix{
	clear: both;
}
header{
	padding: 20px 0px;
}
.container{
	width: 1140px;
	max-width: 100%;
	margin: 0 auto;
}
.col-div-6{
	width: 50%;
	float: left;
}
.logo{
	font-weight: bold;
	font-size: 25px;
	color: var(--black);
}
.logo span{
	color: var(--main);
}
.nav{
	float: right;
}
.nav li{
	list-style: none;
	float: left;
	padding: 3px 20px;
}
.nav li a{
	text-decoration: none;
	color: var(--black);
}
.nav li button{
	padding: 7px 15px;
    background: var(--main);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: -5px;
}
.banner-section{
	background: var(--main);
	height: 400px;
	overflow: hidden;
}
.heading{
	color: var(--white);
    font-size: 40px;
    letter-spacing: 1px;
    margin-top: 14%;
}
.p1{
	color: white;
    width: 395px;
    margin-top: 20px;
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-size: 14px;
}
.input-box{
	box-shadow: 1px 7px 8px 0px #222121;
    width: 360px;
    border-radius: 50%;
}
.input-box input[type="text"]{
	padding: 9px;
    width: 265px;
    border: none;
    border-radius: 5px;
    outline: none;
}
.input-box-contact input[type="text"]{
	padding: 15px;
    width: 400px;
    /* border: none; */
    border-radius: 5px;
    outline: none;
	margin: 5px
}
.input-box-contact input[type="textarea"]{
	padding: 15px;
    width: 400px;
    /* border: none; */
    border-radius: 5px;
    outline: none;
	margin: 5px
}
.input-box-contact button{
	padding: 10px 27px;
    border-radius: 0px 5px 5px 0px;
    border: none;
    margin-left: 6px;
    background: var(--darkblue);
    color: white;
    cursor: pointer;
}
.input-box button{
	padding: 10px 27px;
    border-radius: 0px 5px 5px 0px;
    border: none;
    margin-left: -6px;
    background: var(--darkblue);
    color: white;
    cursor: pointer;
}
.heading1{
	margin-top: 20px;
	color: var(--main);
	font-size: 14px;
	text-transform: uppercase;
}
.blog-heading{
	font-size: 29px;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--black);
}
.text{
	font-size: 13px;
    letter-spacing: 1px;
    color: var(--black);
    margin-bottom: 20px;
}
.name{
	text-transform: uppercase;
    font-weight: 600;
    color: #a1a1a1;
    font-size: 14px;
}
.lr-box{
	padding: 10px 20px;

}
.lr-box:hover{
	cursor: pointer;
}
.box-1:hover{
	cursor: pointer;
}
.foot-section{
	background: var(--main);
}
.foot-inner{
	width: 500px;
	margin: 0 auto;
	padding: 50px;
	text-align: center;
}
footer{
	background:var(--darkblue);
	padding: 15px;
  bottom: 0px;
  /* position: relative; */
}
footer p{
	color: var(--white);
	text-align: center;
}
.sidenav {
	height: 100%; 
	width: 300px; 
	position: fixed;
	z-index: 1; 
	top: 0;
	right: 0;
	background-color: #111;
	overflow-x: hidden; 
	padding-top: 60px; 
	transition: 0.5s;
	
  }
  .sidenav a {
	padding: 20px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
  }
  .sidenav a:hover {
	color: #f1f1f1;
  }
  .sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
  }
  #main {
	transition: margin-left .5s;
	padding: 20px;
  }
  @media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
  }

  .pagination {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 20px;
  }
  
  .pagination a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	
  }

  #list-contact {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

#list-contact td, #list-contact th {
  border: 1px solid #ddd;
  padding: 8px;
}

#list-contact tr:nth-child(even){background-color: #f2f2f2;}

#list-contact tr:hover {background-color: #ddd;}

#list-contact th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
